<!DOCTYPE html>
    <html>
<head>
<head>
<body>
<body>
    <style>
    h1{ color:plum}
    h2{ color:palevioletred}
    h3{ color:palevioletred}
    h4{ color: palevioletred}
    h5{ color:palevioletred}
    ol{ color:bisque }
    p {font-size: 12px;}p {font-size: 24px;}
    nav li a {color:bisque;}
    P {font-size: 12px!important;}
    #container {font-size: 50px;}
    .fdiv { 
        border: 5px outset blueviolet;
        background-color: slateblue;
        text-align:center;
    }
    .sdiv {
        text-align:center;
    }
   </style>
<footer>
    <div class="sdiv">
    <p>Chloe Crochet all rights reserved hehe.</p>
</div>
</footer>

</body>
</html>
